* {
  @font-face {
    font-family: myFirstFont;
    src: url(assets\fonts\Inter-SemiBold.woff2);
  }
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.top {
  padding: 10%;
  height: 921.52px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(to bottom right, #461096, #7f3ce0);
}

.Codext1 {
  height: 70%;
}
.navbar {
  grid-column: 1/3;
}

.top-h2 {
  font-size: xx-large;
}
